@import url('https://fonts.googleapis.com/css?family=Patua+One%7CRoboto');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
}

li{
  list-style-type: none;
  padding-left:0.7rem;
}

.app-outer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

.app-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

#add-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

label{
  margin: .5rem;
}

/* Button Styling */
#delete-button,
#update-button,
#add-button,
.modal-open {
    background: rgba(0, 0, 255, 0.7);
    border-radius: 5px;
    transition: all 0.2s;
    max-width: 170px;
    max-height: 80px !important;
    color: white;
    cursor: pointer;
    height: 50px !important;

}

#delete-button:hover,
#update-button:hover,
#add-button:hover {
  color:blue;
  background-color: white;
  border: 1px solid blue;
  cursor: pointer;
}


.ReactModal__Content{
   height: 600px;
   width: 600px;
   padding: 10px;
   max-height: 1000px;
   max-width: 1000px;
}


/* .sc-EHOje eBYmyq {
  display: flex !important;
  flex-direction: row !important;
} */

a:-webkit-any-link {
  color: inherit !important;
  cursor: pointer;
  text-decoration: none !important;
}

.tag-cloud {
  flex: 1;
}

.tag-cloud>div {
  transition: 1.4s;
}

.tag-item-wrapper {
  cursor: pointer;
}

.tag-item-wrapper:hover {
  z-index: 100;
}

.tag-item-wrapper:hover .tag-item-tooltip {
  display: block;
}

label {
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
}

#about {
  font-size: .5rem;
  min-width: 150px;
  max-width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 47px !important;
  overflow: hidden;
  background: rgba(41, 41, 255, 0.5);
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
}

#about:hover {
  font-size: .5rem;
  min-width: 150px;
  max-width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 47px !important;
  overflow: hidden;
  background: white;
  color: black;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
}

#search-button {
  font-size: .5rem;
  min-width: 150px;
  max-width: 250px;
  padding: 0.5rem 0rem;
  margin: .2rem .4rem 0 .2rem;
  overflow: hidden;
  background: rgba(41, 41, 255, 0.5);
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
  color: white;
}

h1{
  margin-left: 16rem;
}
#search-button:hover {
  font-size: .5rem;
  min-width: 150px;
  max-width: 250px;
  padding: 0.5rem 0rem;
  margin: .2rem .4rem 0 .2rem;
  overflow: hidden;
  background: white;
  color: black;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
}

.qUawM{
  width: 100%;
  margin: 15px;
}

#search-button:active {
  background-color: rgba(41, 41, 255, 0.5);
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
    margin-top: 10px;
}

#modals {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#crud-button {
  margin: .5rem;
}


#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}


#close-button {
  background-color: rgba(41, 41, 255, 0.7);
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#close-button:hover {
  background-color: white;
  padding: 10px;
  color: blue;
  border-radius: 5px;
  border: 1px solid blue;

}


#padding-test {
  padding-right: 20px;
  font-size: .8rem;
  color: white;
}

button{
  max-height: 70px !important;
}